body {
	background-color: #ebeef4;
}

#wrapper {
	width: 600px;
	margin: auto;
}

#username {
	background-color: transparent;
	border-radius: solid 1px black;
}

#left, 
#right {
	min-height:300px
}

#left {
	width:30%; 
	float:left; 
	background-color: #f0f2d0
}

#right {
	width:70%; 
	float:right; 
	background-color: #d4f9f8
}

#title {
	border: solid 1px black; 
	padding:5px; 
	text-align: center; 
	font-weight: bold
}

#users {
	border: solid 1px black; 
	border-top: none; 
	padding: 5px; 
	text-align: center
}

#sayHi {
	text-align: right
}

#listMessages {
	height:200px; 
	background-color: #fcead4; 
	margin-bottom: 15px
}

#message{ 
	background-color: transparent; 
	border: solid 1px black
}